// actual styles for the STAENGL site

html, body {
  background-color: rgb(245,245,245);
}

body {
  font-family: 'Open Sans', sans-serif;
  color: $medium-greyish;
  // background-color: $limon;
}

// // // // // // //
// header stuff
// // // // // // //
header.row {
  border-bottom: solid 1px #d9d9d9;
  margin-top: 11px;
}

#little-logo {
  background-image: url('../img/little-logo.png');
  background-repeat: no-repeat;
  background-position: top center;
  height: 69px;
  margin: 18px 0 0 18px;
}

#menu-main {
  width: 100%;
  float: left;
  margin: 0; // 0 3em 0;
  padding: 0;
  list-style: none;
  margin-top: 44px;
  li {
    float: left;
    margin-left: 30px;
    padding-bottom: 18px;
    font-variant: small-caps;
    font-size: 1.25em;
    font-weight: 300;
  }
  li.current_page_item {
    border-bottom: 4px solid $footer-green;
  }

  a:link, a:visited, a:hover, a:active {
    color: $medium-greyish;
  }
  a:hover {
    // font-weight: 400;
    color: $darker-greyish;
  }
}


.inner-content, .home-content {
  background-color: #fff;
  min-height: 600px;
 }

.posts {
  // padding-left: 6px;
  ul {
    list-style: none;
  }
  li { margin-bottom: 6px; }
}

footer.row {
  background-color: $footer-green;
  background-image: url('../img/footer-bg.png');
  background-repeat: no-repeat;
  background-position: top center;
  padding: 30px;
  color: #fff;
  text-align: center;
}

.copyright {
  font-size: emCalc(12px);
}

