// actual styles for the STAENGL site

body {
  font-family: 'Open Sans', sans-serif;
  background-color: rgb(245,245,245);
  // background-color: $limon;
}

header.row {
  border: solid 1px #d9d9d9;
  background-color: $peachie;
  color: #666;
  padding: 11px;
  margin-top: 11px;
  margin-bottom: 11px;
  text-align: center;
}

.home-content {
  background-color: #fff;
  min-height: 600px;
 }

.posts {
  // padding-left: 6px;
  ul {
    list-style: none;
  }
  li { margin-bottom: 6px; }
}

footer.row {
  background-color: $footer-green;
  background-image: url('../img/footer-bg.png');
  background-repeat: no-repeat;
  background-position: top center;
  padding: 30px;
  color: #fff;
  text-align: center;
}

.copyright {
  font-size: emCalc(12px);
}
