// actual styles for the STAENGL site

html, body {
  background-color: rgb(245,245,245);
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  color: $medium-greyish;
}

@mixin container {
  position: relative;
  width: 1200px;
  margin: 0 auto;
  padding: 0 120px;
}

header, footer, div.innards {
  @include container;
}

.clear {
  @include clearfix;
}

header {
  border-bottom: solid 1px #d9d9d9;
  margin-top: 22px;
}

#little-logo, #big-logo {
  background-image: url('../img/little-logo.png');
  background-repeat: no-repeat;
  height: 120px;
  width: 320px;
  margin: 0 0 15px 0;
  padding: 0;
  float: left;
}

#little-logo {
  background-image: url('../img/little-logo.png');
}

#big-logo {
  background-image: url('../img/big-boi.jpg');
}

.menu {
  // padding: 43px 0 0 0;
  padding-top: 22px;
  // margin-left: 151px;
  float: left;
}

#menu-main {
  list-style: none;
  // text-align: center;
  float: left;
  margin: 0;
  li {
    float: left;
    margin-left: 30px;
    padding-bottom: 18px;
    font-variant: small-caps;
    font-size: 1.25em;
    font-weight: 300;
  }
  li.current_page_item {
    border-bottom: 3px solid $footer-green;
  }

  a:link, a:visited, a:hover, a:active {
    color: $medium-greyish;
    text-decoration: none;
  }
  a:hover {
    // font-weight: 400;
    color: $darker-greyish;
  }
}

div.innards {
  background-color: #fff;
  min-height: 600px;
  padding-top: 22px;
  padding-bottom: 22px;
}

.posts {
  // padding-left: 6px;
  ul {
    list-style: none;
  }
  li { margin-bottom: 6px; }
}

footer {
  background-color: $footer-green;
  background-image: url('../img/footer-bg.png');
  background-repeat: no-repeat;
  background-position: top center;
  padding: 30px;
  color: #fff;
  text-align: center;
  font-size: emCalc(12px);
}

.copyright {
  font-size: emCalc(12px);
}

