---
layout: default
body-class: splash
---

  <div class="row splash-menu">
    <ul class="splash-menu">
      <li><a href="/blog">BLOG</a></li>
      <li class="last"><a href="#contact-us">CONTACT US</a></li>
    </ul>
  </div>

  <div class="row corners top">
    <div class="large-3 columns"><img class="left" src="/img/big-corner-top-left.png"></div>
    <div class="large-3 columns"><img class="right" src="/img/big-corner-top-right.png"></div>
  </div>

  <div class="row">
    <div id="bigLogo" class="small-10 small-centered large-8 large-centered columns" >
        <img src="/img/little-big-logo.png">
    </div>
  </div>

  <div class="row">
    <div class="small-12 large-9 large-centered columns">
      <div class="who-top"><img class="who" src="/img/who-top-2.png"></div>
    </div>
  </div>
  <div class="row">
    <div class="small-9 large-7 small-centered large-centered columns" role="content">
      <p>We all have the right to know what’s in the products we bring into our homes. With long lists of ingredients, corporate greenwashing, overly complex and conflicting information - <strong>who can figure it all out?!</strong> Luckily, we've done all the research and asked the tough questions for you.</p>
      <p>True Goods offers consciously curated products that have been rigorously investigated and held to unparalleled safety standards. We also feature assessments, articles, and useful resources to help you become a more efficient and informed consumer. Shopping should be fun, not frightening. Let True Goods help you make simple choices for cleaner living and make shopping fun again.</p>
      <!-- <p>Shopping should be fun, not frightening.  Let True Goods help you make simple choices for cleaner living.</p> -->
    </div>
  </div>

  <div class="row">
    <div class="small-12 large-9 large-centered columns">
      <div class="who-bottom"><img class="join" src="/img/who-bottom-2.png"></div>
    </div>
  </div>

  <div class="row">
    <div class="small-6 large-4 small-centered large-centered columns join-us">
      <a href="#" data-reveal-id="joinUsModal"></a>
    </div>
  </div>

  <div class="row corners bottom">
    <div class="large-3 columns"><img class="left" src="/img/big-corner-bottom-left.png"></div>
    <div class="large-3 columns "><img class="right" src="/img/big-corner-bottom-right.png"></div>
  </div>

  <a name="contact-us" class="clear"></a>
  <footer>
    <div class="row">
      <div class="large-8 large-centered columns">
        <div class="small-6 columns footer-connect">
          {% include left-footer.html %}
        </div>
        <div class="small-6 columns footer-contact">
          {% include right-footer.html %}
        </div>
      </div>
    </div>
  </footer>
  {% include modals.html %}
